.reviews{
    padding: 80px 0 100px;
}
.reviews__inner{
    max-width: 800px;
}
.reviews__title{
    text-align: center;
    font-size: 30px;
    margin: 0 0 1em;
}
@media screen and (max-width: 768px){
    .reviews__title{
        font-size: 24px;
    }
}
.reviews-list__item{
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
}
@media screen and (max-width: 768px){
    .reviews-list__item{
        font-size: 14px;
    }
}
.reviews-list__user{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.reviews-list__stars-wrap{
    margin-bottom: 5px;
}
.reviews-list__stars{
    color: #cccccc;
    font-size: 28px;
    padding: 0 0.3em 0 0;
    line-height: 1;
}
@media screen and (max-width: 768px){
    .reviews-list__stars{
        font-size: 22px;
    }
}
.reviews-list__stars-on{
    color: var(--accent-color);
}
.reviews-list__user-icon{
    width: 20px;
    height: auto;
    display: inline-block;
    margin-right: 5px;
}
.reviews-list__photo-wrap{
    margin-top: 16px;
}
.reviews-list__photo{
    width: 200px;
}
.back-button{
    margin-top: 50px;
    text-align: center;
}
.back-button__link{
    display: inline-block;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    color: #fff;
    line-height: 1;
    padding: 0.7em 1em;
    width: 100%;
    max-width: 300px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    transition: .3s all ease;
}
@media screen and (max-width: 768px){
    .back-button__link{
        font-size: 16px;
    }
}
.back-button__link:hover{
    color: var(--accent-color);
    background: #fff;
}

.delete-form__wrap{
    margin-top: 20px;
    text-align: right;
}
@media screen and (max-width: 768px){
    .delete-form__wrap{
        text-align: center;
        margin-top: 30px;
    }
}
.delete-form__button{
    display: inline-block;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    color: #fff;
    line-height: 1;
    padding: 0.7em 1em;
    width: 200px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    transition: .3s all ease;
}
@media screen and (max-width: 768px){
    .delete-form__button{
        width: 100%;
        max-width: 300px;
    }
}
.delete-form__button:hover{
    color: var(--accent-color);
    background: #fff;
}
